pandas
numpy
tensorflow
mlflow
matplotlib
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
notebook
dvc
keras-tuner
scikit-learn
scikit-image
opencv-python
joblib
Flask
Flask-Cors
torchvision
torch
timm
gunicorn
-e .